{% extends "index.html" %}

{% block page_content %}
    <div class="row mt-5">
    {% for d in object_list %}
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="card bg-light mb-3" style="width: 100%;">
                <img
                    src={% if d.image %} {{d.image.url}} {%endif%}
                    class="card-img-top"
                    style="height: 15rem;"
                />
                <div class="card-body">
                    <small><i>#{{ d.order }}</i></small>
                    <h5 class="card-title">{{ d.name }}</h5>
                    <a href="/pokemon-detail/{{d.id}}" class="btn btn-info">View</a>
                    <a href="/pokemon-update/{{d.id}}" class="btn btn-primary">Edit</a>
                    <a href="/pokemon-delete/{{d.id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {% if is_paginated %}
        {% include "common/pagination.html" %}
    {% endif %}
{% endblock %}